<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>SEE ALL ROOMS HERE</h1>
    <ul>
      {% for room in rooms %}
      <li>
        <a href="/rooms/{{room.pk}}">
          {{room}}<br />
          {% for amenity in room.amenities.all %}
          <span>{{amenity}}<br /></span>
          {% endfor %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
